

:root{
    --font-family-MavenPro:'Maven Pro', sans-serif;
    --font-family-Manrope: 'Manrope', sans-serif;
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-MavenPro);
}

.rvxp_customer_reviews_section_progress_bar_container{
    max-width: 1140px;
    width: 100%;
    background-color: #ffffff;
    margin: 100px auto;
    
    
}
.rvxp_customer_reviews_section_progress_bar_child{
    max-width: 1140px;
    width: 100%;
    padding: 32px 32px 32px 32px;
    box-shadow: 0px 2px 17px 0px #18274B1A;
    border-radius: 10px;
    display: flex;
    gap: 46px;

}

/* total_reviews_section_start */
.rvxp_customer_total_reviews_in_left{
    text-align: center;
    max-width: 212px;
    width: 100%;
}
.rvxp_customer_reviews_heading h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color:#313131;

}
.rvxp_total_reviews_container{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 28px;
}
.rvxp_reviews_container_left_star_img{
    width: 56px;
    height: 56px;
    background-color:#ECECEC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;

}
.rvxp_reviews_container_left_star_img img{
    width: 36px;
    height: 36px;
    
}
.rvxp_reviews-total-collected{
    display: flex;
}
.rvxp_reviews-total-collected p ,.rvxp_reviews-total-collected span ,.rvxp_reviews_star_rating_out_of{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1%;
    color: #131313;
    font-family: var(--font-family-Manrope);
}

.rvxp_customer_reviews_heading{
    font-size: 20px;
    line-height: 23.5px;
    font-weight: 500;
    font-family: var(--font-family-MavenPro);
    margin-bottom: 25px;

}
.rvxp_total_reviews .rvxp_digit_star_rating{
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0.5%;
    color: #202020;
    font-family: var(--font-family-MavenPro);
    margin-right: 8px;
}
.rvxp_reviews_star_rating_out_of{
    color: #313131;

}
/* total_reviews_section_end */







.rvxp_progress_bar_section{
    width: 100%;
    display: grid;
    grid-template-columns: 35px 1fr auto;
    grid-row-gap: 12px;
    align-items: center;
}
.rvxp_progress_bar_col-1{
    display: flex; 
    align-items: center;
    width: 35px;
    height: 22px;
    gap: 8px;
    margin-right: 16px;
}
.rvxp_progress_bar_col-1 span{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.12px;
    font-family: var(--font-family-Manrope);
    color: #202020;
    width: 9px;
}
.rvxp_progress_bar_col-1 img{
    width: 18px;
    height: 16.88px;
    margin: 2.56px 0;

}

.rvxp_progress_bar_col-2{
    max-width: 100%;
    height: 6px;
    background-color: #D6D6D6;
    border-radius: 2px;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;

}

.rvxp_progress_bar_col-2::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: #202020;
    width: 0%;
    height: 6px;
    border-radius: 2px;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
/* column-two-animation-start */
/* progress-bar-one-start */
.rvxp_progress_one::before{
    animation-name: rvxp_one;
}
@keyframes rvxp_one{
    to{
        width: 50%;
    }
}
/* progress-bar-two-start */
.rvxp_progress_two::before{
    animation-name: rvxp_two;
}
@keyframes rvxp_two{
    to{
        width: 30%;
    }
}
/* progress-bar-three-start */
.rvxp_progress_three::before{
    animation-name: rvxp_three;
}
@keyframes rvxp_three{
    to{
        width: 20%;
    }
}
/* progress-bar-four-start */
.rvxp_progress_four::before{
    animation-name: rvxp_four;
}
@keyframes rvxp_four{
    to{
        width: 10%;
    }
}
/* progress-bar-five-start */
.rvxp_progress_five::before{
    animation-name: rvxp_five;
}
@keyframes rvxp_five{
    to{
        width: 5%;
    }
}


/* column-two-animation-end */


.rvxp_progress_bar_col-3{
    display: flex;
    align-items: center;
}
.rvxp_progress_bar_col-3 span, .rvxp_progress_bar_col-1 span{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #313131;

}
@media screen and (max-width:600px) {
    .rvxp_customer_reviews_section_progress_bar_child{
        gap: 26px;
    }
    
}
@media screen and (max-width:500px) {
    .rvxp_customer_reviews_section_progress_bar_child{
        flex-direction: column;
        padding: 10px 10px 10px 10px;
        margin: 0 10px;
    }
    .rvxp_customer_total_reviews_in_left{
        max-width: 100%;
        text-align: center;
        
    }
    .rvxp_total_reviews_container{
        display: flex;
        gap: 16px;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        
    }
    
}

